xsd/ItemLogistics.xsd

<?xml version="1.0" encoding="UTF-8"?>

<!--
  Schema for data exchanged between Walmart and its partners.
  Copyright 2015 Walmart Corporation. All rights reserved.
-->

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
  xmlns="http://walmart.com/"
  targetNamespace="http://walmart.com/"
  elementFormDefault="qualified"
  version="1.4">
  
  <xsd:include schemaLocation="ItemCommons.xsd" />

  <xsd:complexType name="ReportingHierarchyLevel">
    <xsd:sequence>
      <xsd:element name="level" type="xsd:int"/>
      <xsd:element name="id" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:simpleType name="ItemSourceType">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="DC"/>
      <xsd:enumeration value="DSV"/>
      <xsd:enumeration value="STORE"/>
      <xsd:enumeration value="MP"/>
      <xsd:enumeration value="PUT"/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="InventoryOwnerType">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="WALMART"/>
      <xsd:enumeration value="ASDA"/>
      <xsd:enumeration value="PARTNER"/>
      <xsd:enumeration value="OWNED_STORE"/>
      <xsd:enumeration value="OWNED_CLUB"/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:complexType name="ItemSourcingOption">
    <xsd:sequence>
      <xsd:element name="itemSourceType" type="ItemSourceType">
        <xsd:annotation>
          <xsd:documentation>    
            item source type        
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="inventoryOwnerType" type="InventoryOwnerType">
        <xsd:annotation>
          <xsd:documentation>    
            inventory owner type        
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:simpleType name="DeliveryType">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="ELECTRONIC"/>
      <xsd:enumeration value="SITE_TO_STORE"/>
      <xsd:enumeration value="PICKUP_TODAY"/>
      <xsd:enumeration value="CLICK_AND_COLLECT"/>
      <xsd:enumeration value="LOCKER"/>
      <xsd:enumeration value="HOME_DELIVERY"/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:complexType name="DeliveryOption">
    <xsd:sequence>
      <xsd:element name="deliveryType" type="DeliveryType">
        <xsd:annotation>
          <xsd:documentation>       
            delivery type     
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="itemSourcingOptions">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="itemSourcingOption" type="ItemSourcingOption" minOccurs="0" maxOccurs="unbounded">
              <xsd:annotation>
                <xsd:documentation>
                  TODO: add documentation
                </xsd:documentation>
              </xsd:annotation>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="shipMethods">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="shipMethod" type="ShipMethod" minOccurs="0" maxOccurs="unbounded">
              <xsd:annotation>
                <xsd:documentation>
                  TODO: add documentation
                </xsd:documentation>
              </xsd:annotation>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="allowCashOnDelivery" type="xsd:boolean" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            allow cash on delivery?            
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  
  <xsd:simpleType name="FulfillmentType">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="ELECTRONIC"/>
      <xsd:enumeration value="PICKUP"/>
      <xsd:enumeration value="DELIVERY"/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:complexType name="FulfillmentOption">
    <xsd:sequence>
      <xsd:element name="fulfillmentType" type="FulfillmentType">
        <xsd:annotation>
          <xsd:documentation>            
            TODO: add documentation
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="deliveryOptions">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="deliveryOption" type="DeliveryOption" minOccurs="0" maxOccurs="unbounded">
              <xsd:annotation>
                <xsd:documentation>
                  TODO: add documentation
                </xsd:documentation>
              </xsd:annotation>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="AvailabilityThreshold">
    <xsd:sequence>
      <xsd:element name="low" type="xsd:int" minOccurs="0"/>
      <xsd:element name="mid" type="xsd:int" minOccurs="0"/>
      <xsd:element name="high" type="xsd:int" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="ProgramEligibility">
    <xsd:sequence>
      <xsd:element name="eligibilityName" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>            
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="availabilityThreshold" type="AvailabilityThreshold">
        <xsd:annotation>
          <xsd:documentation>            
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="PreferredDistributor">
    <xsd:annotation>
      <xsd:documentation>            
        TODO: what's the source of this data?
      </xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="legacyDistributorId" type="xsd:string" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>            
          TODO: how can partners know this?
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="itemShipNodeOrgId" type="xsd:string" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>            
          UUID
          TODO: how can partners know this?
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="effectiveFrom" type="xsd:dateTime" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>            
          TODO: how can partners know this?
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="effectiveTill" type="xsd:dateTime" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>            
          TODO: how can partners know this?
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="rank" type="xsd:int">
        <xsd:annotation>
          <xsd:documentation>            
          TODO: how can partners know this?
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="ItemShipNodeSupply">
    <xsd:annotation>
      <xsd:documentation>         
      TODO: what's the source of this data?   
      </xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="supplierOrgId" type="xsd:string" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>     
          UUID       
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="primarySupplyItemId" type="xsd:string" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>            
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="alternateSupplyItemId" type="xsd:string" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>            
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="mdsfamId" type="xsd:string" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>           
            merchendaise family ID 
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="vendorStockId" type="xsd:string" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>            
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="ItemShipNode">
    <xsd:annotation>
      <xsd:documentation>
        what's the source of this data?
      </xsd:documentation>
    </xsd:annotation>  
    <xsd:sequence>
      <xsd:element name="legacyDistributorId" type="xsd:string" minOccurs="1">
        <xsd:annotation>
          <xsd:documentation>            
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="itemShipNodeStatus" type="xsd:string" minOccurs="1">
        <xsd:annotation>
          <xsd:documentation>            
            TODO: why is it a string instead of being an enum?
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="preOrderMaxQty" type="Measurement" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>            
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="handlingCost" type="Money" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>            
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="unitCost" type="Money" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>            
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="shipNodeItemId" type="xsd:string" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>            
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="initialAvailabilityCode" type="xsd:string" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>            
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="availabilityThreshold" type="AvailabilityThreshold" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>            
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="inventoryOwnerId" type="xsd:string" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>         
          UUID   
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="programEligibilities">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="programEligibility" type="ProgramEligibility" minOccurs="0" maxOccurs="unbounded">
              <xsd:annotation>
                <xsd:documentation>
                  TODO: add documentation
                </xsd:documentation>
              </xsd:annotation>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="itemShipNodeSupplies">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="itemShipNodeSupply" type="ItemShipNodeSupply" minOccurs="0" maxOccurs="unbounded">
              <xsd:annotation>
                <xsd:documentation>
                  TODO: add documentation
                </xsd:documentation>
              </xsd:annotation>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  
  <xsd:complexType name="PackageDimensions">
    <xsd:sequence>
      <xsd:element name="packageID" type="xsd:string" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            Represents ID of package
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="packageLength" type="Measurement" minOccurs="0">
        <xsd:annotation> 
          <xsd:documentation>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="packageWidth" type="Measurement" minOccurs="0">
        <xsd:annotation> 
          <xsd:documentation>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="packageHeight" type="Measurement" minOccurs="0">
        <xsd:annotation> 
          <xsd:documentation>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="packageWeight" type="Measurement" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            Represents weight
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      </xsd:sequence>
  </xsd:complexType>

  <xsd:simpleType name="StorageType">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="AMBIENT"/>
      <xsd:enumeration value="CHILLED"/>
      <xsd:enumeration value="FROZEN"/>
    </xsd:restriction>
  </xsd:simpleType>
    
  <xsd:complexType name="ItemLogistics">
    <xsd:sequence>
      <xsd:element name="reportingHierarchy">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="reportingHierarchyLevel" type="ReportingHierarchyLevel" minOccurs="0" maxOccurs="unbounded">
              <xsd:annotation>
                <xsd:documentation>
                  Reporting hierarchy
                </xsd:documentation>
              </xsd:annotation>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="marketAttributes" type="NameValueAttributes" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            market attributes
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="isPreOrder" type="xsd:boolean">
        <xsd:annotation>
          <xsd:documentation>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="streetDate" type="xsd:date">
        <xsd:annotation>
          <xsd:documentation>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="streetDateType" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>
            TODO: add documentation
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="programEligibilities">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="programEligibility" type="ProgramEligibility" minOccurs="0" maxOccurs="unbounded">
              <xsd:annotation>
                <xsd:documentation>
                  Program Eligibilities
                </xsd:documentation>
              </xsd:annotation>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="packages">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="package" type="PackageDimensions" minOccurs="0" maxOccurs="unbounded">
              <xsd:annotation>
                <xsd:documentation>
                  Program Eligibilities
                </xsd:documentation>
              </xsd:annotation>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="isPerishable" type="xsd:boolean">
        <xsd:annotation>
          <xsd:documentation>
            if the item is perishable
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="isHazmat" type="xsd:boolean">
        <xsd:annotation>
          <xsd:documentation>
            if the item is an hazardous material
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="inventoryAvailabilityThreshold" type="AvailabilityThreshold" minOccurs="1">
        <xsd:annotation>
          <xsd:documentation>
          inventory availability threshold
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="onHandSafetyFactorQuantity" type="Measurement" minOccurs="1">
        <xsd:annotation>
          <xsd:documentation>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="inventoryLeadTime" type="xsd:int" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="assumeInfiniteInventory" type="xsd:boolean" minOccurs="1">
        <xsd:annotation>
          <xsd:documentation>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>      
      <xsd:element name="unitCost" type="Money">
        <xsd:annotation>
          <xsd:documentation>
            cost of the item
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="primarySupplyItemId" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>
            supply item ID
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="alternateSupplyItemId" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>
            altername supply item ID
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="preferredDistributors">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="preferredDistributor" type="PreferredDistributor" minOccurs="0" maxOccurs="unbounded">
              <xsd:annotation>
                <xsd:documentation>
                  Preferred Distributors
                </xsd:documentation>
              </xsd:annotation>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="fulfillmentOptions">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="fulfillmentOption" type="FulfillmentOption" minOccurs="0" maxOccurs="unbounded">
              <xsd:annotation>
                <xsd:documentation>
                  Fulfillment Options
                </xsd:documentation>
              </xsd:annotation>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="shipSizeCode" type="xsd:string" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            TODO: add documentation
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="shipClass" type="xsd:string" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            TODO: add documentation
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="shipAsIs" type="xsd:string" minOccurs="1">
        <xsd:annotation>
          <xsd:documentation>
            TODO: add documentation
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="isSignatureOnDeliveryReq" type="xsd:boolean" minOccurs="1">
        <xsd:annotation>
          <xsd:documentation>
            if signature is required on delivery
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="isConveyable" type="xsd:boolean" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            TODO: add documentation
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="bundleFulfillmentMode" type="xsd:string" minOccurs="1">
        <xsd:annotation>
          <xsd:documentation>
            TODO: add documentation
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="storageType" type="StorageType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="shipNodes">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="shipNode" type="ItemShipNode" minOccurs="0" maxOccurs="unbounded">
              <xsd:annotation>
                <xsd:documentation>
                  Ship Nodes
                </xsd:documentation>
              </xsd:annotation>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="isReturnable" type="xsd:boolean" minOccurs="0">    
        <xsd:annotation>
          <xsd:documentation>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="isReturnExpected" type="xsd:boolean" minOccurs="0">    
        <xsd:annotation>
          <xsd:documentation>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="isPhysicalItemExpected" type="xsd:boolean" minOccurs="0">    
        <xsd:annotation>
          <xsd:documentation>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="isStoreReturnAllowed" type="xsd:boolean" minOccurs="0">    
        <xsd:annotation>
          <xsd:documentation>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="isReturnInsuranceNeeded" type="xsd:boolean" minOccurs="0">    
        <xsd:annotation>
          <xsd:documentation>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="returnWindow" type="xsd:int" minOccurs="0">    
        <xsd:annotation>
          <xsd:documentation>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="restockingFee" type="xsd:decimal" minOccurs="0">    
        <xsd:annotation>
          <xsd:documentation>
          TODO: should be Money?
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="restockingFeePercentage" type="xsd:decimal" minOccurs="0">    
        <xsd:annotation>
          <xsd:documentation>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="preferredReturnChannel" type="xsd:string" minOccurs="0">    
        <xsd:annotation>
          <xsd:documentation>
          TODO: add documentation
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>  
  </xsd:complexType>

</xsd:schema>