xsd/Offer.xsd

<?xml version="1.0" encoding="UTF-8"?>

<!--
  Schema for data exchanged between Walmart and its partners.
  Copyright 2015 Walmart Corporation. All rights reserved.
-->

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
  xmlns="http://walmart.com/"
  targetNamespace="http://walmart.com/"
  elementFormDefault="qualified"
  version="1.2">

  <xsd:include schemaLocation="ShipPriceOverride.xsd" />
  <xsd:include schemaLocation="ShipMethodOverride.xsd" />
  <xsd:include schemaLocation="ItemPrice.xsd" />
          
  <xsd:complexType name="Offer">
    <xsd:sequence>
      <xsd:element name="sku" minOccurs="1">
        <xsd:annotation>
          <xsd:documentation>
            Seller SKU (sellerOfferId) assigned by partner
            Walmart will include this value in all communications regarding item information,
            including order interfaces and reports
          </xsd:documentation>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="255" />
            <xsd:minLength value="1"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="offerType" type="OfferType" minOccurs="1">
        <xsd:annotation>
          <xsd:documentation>
            Represents  Offer Type
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="startDate" type="xsd:dateTime" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            Date from which the offer is valid
            The dateTime is specified in the following form "YYYY-MM-DDThh:mm:ss" where:
              YYYY  indicates the year
              MM    indicates the month
              DD    indicates the day
              T     indicates the start of the required time section
              hh    indicates the hour
              mm    indicates the minute
              ss    indicates the second
              Note: All components are required!
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="endDate" type="xsd:dateTime" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            Date after which the offer is no longer valid
            The dateTime is specified in the following form "YYYY-MM-DDThh:mm:ss" where:
              YYYY  indicates the year
              MM    indicates the month
              DD    indicates the day
              T     indicates the start of the required time section
              hh    indicates the hour
              mm    indicates the minute
              ss    indicates the second
              Note: All components are required!
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="streetDateType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>            
          </xsd:documentation>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:enumeration value="SHIP_BY" />
            <xsd:enumeration value="DELIVER_BY" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="streetDate" type="xsd:dateTime" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            Date when the product can be sold
            The dateTime is specified in the following form "YYYY-MM-DDThh:mm:ss" where:
              YYYY  indicates the year
              MM    indicates the month
              DD    indicates the day
              T     indicates the start of the required time section
              hh    indicates the hour
              mm    indicates the minute
              ss    indicates the second
              Note: All components are required!
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="streetDateDisplayable" type="xsd:boolean" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            Date when the product can be displayed
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="isNeverOut" type="xsd:boolean" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            Is the item always kept in stock?
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="isResellableAfterReturn" type="xsd:boolean" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            If the item is sellable after a return or not.  
            Selleble means item can be put back on the shelf/restocked
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="isAssociateDiscountable" type="xsd:boolean" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            Can the item be discounted by an associate?
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="storeCount" type="xsd:int" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            How many physical stores offer the item
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="publishStatus" minOccurs="1">
        <xsd:annotation>
          <xsd:documentation>
            E.g. Published, Unpublished
          </xsd:documentation>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:enumeration value="IN_PROGRESS" />
            <xsd:enumeration value="READY_TO_PUBLISH" />
            <xsd:enumeration value="PUBLISHED" />
            <xsd:enumeration value="UNPUBLISHED" />
            <xsd:enumeration value="SYSTEM_PROBLEM" />
            <xsd:enumeration value="STAGE" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="lifecycleStatus" minOccurs="1">
        <xsd:annotation>
          <xsd:documentation>
            Enumeration for the life-cycle status
          </xsd:documentation>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:enumeration value="RETIRED" />
            <xsd:enumeration value="ARCHIVED" />
            <xsd:enumeration value="ACTIVE" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="isMustShipAlone" type="xsd:boolean" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            Cannot ship with another item in the same box
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="isShipsAsIs" type="xsd:boolean" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
          	 Can ship in the retail packaging, does not need to be over-boxed
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="isHazmat" type="xsd:boolean" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
          	Does this item contain hazardous materials that are fully regulated by D.O.T.?
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="isORMD" type="xsd:boolean" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="isStorePickupable" type="xsd:boolean" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="isAirShippable" type="xsd:boolean" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
          	Can be air transported
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="isPerishable" type="xsd:boolean" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
          	Has perishable content
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="isPutPchEligible" type="xsd:boolean" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            is put PCH eligible
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="shippingPackageID" type="xsd:string" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            Represents ID of package
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="numberOfBoxes" type="xsd:integer" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            Number of Boxes
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="shippingLength" type="Measurement" minOccurs="0">
        <xsd:annotation> 
          <xsd:documentation>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="shippingWidth" type="Measurement" minOccurs="0">
        <xsd:annotation> 
          <xsd:documentation>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="shippingHeight" type="Measurement" minOccurs="0">
        <xsd:annotation> 
          <xsd:documentation>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="shippingWeight" type="Measurement" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            Represents weight
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="giftWrapIndicator" type="xsd:boolean" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            Whether to use gift-wrapping or not
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="giftReceiptIndicator" type="xsd:boolean" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            Whether to provide gift receipt or not
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="giftMessageIndicator" type="xsd:boolean" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            Whether to add a gift message or not
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ShipMethodOverride" type="ShipMethodOverride" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            Represents  Ship Method Override options available for sellable entity
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="isThresholdShippingEligible" type="xsd:boolean" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
          	Is the item eligible for threshold shipping
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ShipPriceOverride" type="ShipPriceOverride" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            Represents ship Charge Override for a Ship method of a sellable entity
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="PurchaseOptions" type="PurchaseOptions" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            Represents  Item Prices and Price Info related to the sellable entity
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>      
      <xsd:element name="ItemPrice" type="ItemPrice" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            Represents  Item Prices and Price Info related to the sellable entity
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="OfferAttributes" type="NameValueAttributes" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            bag for generic offer attributes
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ComplianceAttributes" type="NameValueAttributes" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            bag for compliance attributes
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="MarketAttributes" type="NameValueAttributes" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            bag for generic market attributes
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="processMode" minOccurs="0" default="INCREMENTAL">
        <xsd:annotation>
          <xsd:documentation>
            The Process Mode indicates the type of file being sent.
            Possible values:
            INCREMENTAL:
              Indicates that a delta file is being sent and only those items
              indicated in the file will be added and/or updated.
            REPLACE:
              Indicates that the partner's item catalog will be
              replaced with the items in the feed. Any items in the Walmart catalog
              not in the file will no longer display on the site.
          </xsd:documentation>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:enumeration value="REPLACE" />
            <xsd:enumeration value="INCREMENTAL" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:simpleType name="OfferType">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="ONLINE_ONLY" />
      <xsd:enumeration value="ONLINE_AND_STORE" />
      <xsd:enumeration value="DISPLAY_ONLY" />
      <xsd:enumeration value="STORE_ONLY" />
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:complexType name="PurchaseOptions">
    <xsd:sequence>
      <xsd:element name="PurchaseOption" type="PurchaseOption" minOccurs="0" maxOccurs="2"/>      
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="PurchaseOption">
    <xsd:sequence>
      <xsd:element name="purchaseType" minOccurs="1">
        <xsd:annotation>
          <xsd:documentation>
            type of puchase
          </xsd:documentation>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:enumeration value="BUY" />
            <xsd:enumeration value="RENT" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="startDate" type="xsd:dateTime" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            Date from which the offer is valid
            The dateTime is specified in the following form "YYYY-MM-DDThh:mm:ss" where:
              YYYY  indicates the year
              MM    indicates the month
              DD    indicates the day
              T     indicates the start of the required time section
              hh    indicates the hour
              mm    indicates the minute
              ss    indicates the second
              Note: All components are required!
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="endDate" type="xsd:dateTime" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            Date after which the offer is no longer valid
            The dateTime is specified in the following form "YYYY-MM-DDThh:mm:ss" where:
              YYYY  indicates the year
              MM    indicates the month
              DD    indicates the day
              T     indicates the start of the required time section
              hh    indicates the hour
              mm    indicates the minute
              ss    indicates the second
              Note: All components are required!
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  
</xsd:schema>
