xsd/SupplyCommons.xsd

<?xml version="1.0" encoding="UTF-8"?>

<!--
  Schema for data exchanged between Walmart and its partners.
  Copyright 2015 Walmart Corporation. All rights reserved.
-->

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
  xmlns="http://walmart.com/"
  targetNamespace="http://walmart.com/"
  elementFormDefault="qualified"
  version="1.2">

  <xsd:element name="createTimestamp" type="xsd:dateTime"/>
  <xsd:element name="createdByUserId" type="alpha25"/>
  <xsd:element name="lastUpdateProgramId" type="alpha25"/>
  <xsd:element name="lastUpdateTimestamp" type="xsd:dateTime"/>
  <xsd:element name="lastUpdateUserId" type="alpha25"/>

  <xsd:element name="upc">
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:pattern value="([0-9])*"/>
        <xsd:maxLength value="13"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>

  <xsd:simpleType name="alpha2">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="2"/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="alpha10">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="10"/>
    </xsd:restriction>
  </xsd:simpleType>
  
  <xsd:simpleType name="alpha15">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="15"/>
    </xsd:restriction>
  </xsd:simpleType>
  
  <xsd:simpleType name="alpha20">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="20"/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="alpha25">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="25"/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="alpha30">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="30"/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="alpha36">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="36"/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="alpha40">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="40"/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="alpha50">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="50"/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="alpha80">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="80"/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="alpha100">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="100"/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="alpha255">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="255"/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="alpha500">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="500"/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="alpha512">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="512"/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="alpha1000">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="1000"/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="gtin">
    <xsd:restriction base="xsd:string">
      <xsd:pattern value="([0-9])*"/>
      <xsd:maxLength value="14"/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="week">
    <xsd:restriction base="xsd:unsignedShort">
      <xsd:maxInclusive value="53"/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="year">
    <xsd:restriction base="xsd:string">
      <xsd:pattern value="[0-9][0-9][0-9][0-9]"/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:complexType name="Account">
    <xsd:sequence>
      <xsd:element name="id" type="alpha25"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="Amount">
    <xsd:sequence>
      <xsd:element name="value">
        <xsd:simpleType>
          <xsd:restriction base="xsd:decimal">
            <xsd:fractionDigits value="4"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="Currency" type="Currency"/>
      <xsd:element name="type" type="alpha10"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="AssortmentItem">
    <xsd:sequence>
      <xsd:element name="supplyItemNumber" type="xsd:unsignedLong"/>
      <xsd:element name="Quantity" type="Quantity"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="AssortmentType">
    <xsd:sequence>
      <xsd:element name="code" type="alpha10"/>
      <xsd:element name="description" type="alpha255"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="Attribute">
    <xsd:sequence>
      <xsd:element name="name" type="alpha80"/>
      <xsd:element name="AttributeValues" type="AttributeValue" maxOccurs="unbounded"/>
      <xsd:element name="type" type="alpha100"/>
      <xsd:element name="isMandatory" type="xsd:boolean"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="AttributeValue">
    <xsd:sequence>
      <xsd:element name="seqNumber" type="xsd:unsignedShort"/>
      <xsd:element name="Value" type="LocalizedText" maxOccurs="unbounded"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="BatteryType">
    <xsd:sequence>
      <xsd:element name="code" type="alpha25"/>
      <xsd:element name="description" type="alpha80"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="Brand">
    <xsd:sequence>
      <xsd:element name="id" type="xsd:unsignedLong"/>
      <xsd:element name="name" type="alpha80"/>
      <xsd:element name="isPrivateLabel" type="xsd:boolean"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="BrandAcquisitionType">
    <xsd:sequence>
      <xsd:element name="code" type="alpha25"/>
      <xsd:element name="description" type="alpha100"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="BusinessUnitFormat">
    <xsd:sequence>
      <xsd:element name="code" type="alpha25"/>
      <xsd:element name="description" type="alpha80"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="BuyingRegion">
    <xsd:sequence>
      <xsd:element name="code" type="alpha25"/>
      <xsd:element name="description" type="alpha100"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="Classification">
    <xsd:sequence>
      <xsd:element name="id" type="xsd:unsignedLong"/>
      <xsd:element name="name" type="LocalizedText"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="CommodityType">
    <xsd:sequence>
      <xsd:element name="id" type="xsd:unsignedLong"/>
      <xsd:element name="description" type="alpha255"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="Company">
    <xsd:sequence>
      <xsd:element name="id" type="xsd:unsignedInt"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="CompositeWoodCertification">
    <xsd:sequence>
      <xsd:element name="code" type="alpha25"/>
      <xsd:element name="description" type="alpha100"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="Country">
    <xsd:sequence>
      <xsd:element name="code" type="alpha2"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="CrushFactor">
    <xsd:sequence>
      <xsd:element name="code" type="alpha25"/>
      <xsd:element name="description" type="alpha100"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="Cube">
    <xsd:sequence>
      <xsd:element name="amount" type="xsd:decimal"/>
      <xsd:element name="uom" type="alpha25"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="Currency">
    <xsd:sequence>
      <xsd:element name="code">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:minLength value="3"/>
            <xsd:maxLength value="3"/>
            <xsd:pattern value="[A-Z][A-Z][A-Z]"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="description" type="alpha80"/>
      <xsd:element name="numericCode">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:minLength value="3"/>
            <xsd:maxLength value="3"/>
            <xsd:pattern value="[0-9][0-9][0-9]"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="DCSlot">
    <xsd:sequence>
      <xsd:element name="id" type="xsd:unsignedLong"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="Department">
    <xsd:sequence>
      <xsd:element name="number" type="xsd:unsignedInt"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="DestinationTraits">
    <xsd:sequence>
      <xsd:element name="effectiveDate" type="xsd:date"/>
      <xsd:element name="expirationDate" type="xsd:date"/>
      <xsd:element name="TraitGroup" type="TraitGroup" maxOccurs="unbounded"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="DigitalAsset">
    <xsd:sequence>
      <xsd:element name="url" type="alpha255"/>
      <xsd:element name="mediaType" type="alpha25"/>
      <xsd:element name="assetInfoType" type="alpha25"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="Dimensions">
    <xsd:sequence>
      <xsd:element name="feight" type="xsd:decimal"/>
      <xsd:element name="width" type="xsd:decimal"/>
      <xsd:element name="length" type="xsd:decimal"/>
      <xsd:element name="uom" type="alpha20"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="Division">
    <xsd:sequence>
      <xsd:element name="number" type="xsd:unsignedShort"/>
    </xsd:sequence>
  </xsd:complexType>
  
  <xsd:complexType name="Factory">
    <xsd:sequence>
      <xsd:element name="id" type="xsd:unsignedInt"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="FinancialReportingGroup">
    <xsd:sequence>
      <xsd:element name="code" type="alpha25"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="FulfillmentMethod">
    <xsd:sequence>
      <xsd:element name="code" type="alpha10"/>
      <xsd:element name="name" type="alpha100"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="HazmatType">
    <xsd:sequence>
      <xsd:element name="id" type="xsd:unsignedLong"/>
      <xsd:element name="description" type="alpha255"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="Ingredient">
    <xsd:sequence>
      <xsd:element name="id" type="xsd:unsignedLong"/>
      <xsd:element name="name" type="alpha100"/>
      <xsd:element name="description" type="alpha255"/>
      <xsd:element name="isFoodAlergen" type="xsd:boolean"/>
      <xsd:element name="isFatReplacer" type="xsd:boolean"/>
      <xsd:element name="isPreservative" type="xsd:boolean"/>
      <xsd:element name="isLowCalorieSweetener" type="xsd:boolean"/>
      <xsd:element name="IngredientComponents" type="IngredientComponent" maxOccurs="unbounded"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="IngredientComponent">
    <xsd:sequence>
      <xsd:element name="id" type="xsd:unsignedLong"/>
      <xsd:element name="name" type="alpha100"/>
      <xsd:element name="description" type="alpha255"/>
      <xsd:element name="ComponentQuantity" type="Quantity"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="ItemChange">
    <xsd:sequence>
      <xsd:element name="seqNumber" type="xsd:unsignedShort" minOccurs="0"/>
      <xsd:element name="createDate" type="xsd:date" minOccurs="0"/>
      <xsd:element name="reason" type="Reason" minOccurs="0"/>
      <xsd:element name="comment" type="alpha1000" minOccurs="0"/>
      <xsd:element name="sendWalmartWeekNumber" type="week" minOccurs="0"/>
      <xsd:element name="replacedItemNumber" type="xsd:unsignedLong" minOccurs="0"/>
      <xsd:element name="extractedDate" type="xsd:date" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="ItemType">
    <xsd:sequence>
      <xsd:element name="code" type="alpha25"/>
      <xsd:element name="description" type="alpha100"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="ItemDestinationFormat">
    <xsd:sequence>
      <xsd:element name="code" type="alpha25"/>
      <xsd:element name="description" type="alpha100"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="LifecycleState">
    <xsd:sequence>
      <xsd:element name="code" type="alpha25"/>
      <xsd:element name="description" type="alpha100"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="LocalizedText">
    <xsd:sequence>
      <xsd:element name="textValue" type="alpha1000"/>
      <xsd:element name="languageCode" type="alpha10"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="MBMType">
    <xsd:sequence>
      <xsd:element name="code" type="alpha25"/>
      <xsd:element name="description" type="alpha100"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="Manufacturer">
    <xsd:complexContent>
      <xsd:extension base="Company"/>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="MarshalingArea">
    <xsd:sequence>
      <xsd:element name="id" type="xsd:unsignedInt"/>
      <xsd:element name="name" type="alpha100"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="MarshalingGroup">
    <xsd:sequence>
      <xsd:element name="id" type="xsd:unsignedInt"/>
      <xsd:element name="name" type="alpha100"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="OfferingAvailability">
    <xsd:sequence>
      <xsd:element name="code" type="alpha25"/>
      <xsd:element name="description" type="alpha100"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="OfferingLogistics">
    <xsd:sequence>
      <xsd:element name="numberOfBoxes" type="xsd:unsignedInt"/>
      <xsd:element name="isMustShipAlone" type="xsd:boolean"/>
      <xsd:element name="isShipAsIs" type="xsd:boolean"/>
      <xsd:element name="isStorePick" type="xsd:boolean"/>
      <xsd:element name="isAirShip" type="xsd:boolean"/>
      <xsd:element name="ShipmentPackage" type="Package"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="Package">
    <xsd:sequence>
      <xsd:element name="packageID" type="alpha30"/>
      <xsd:element name="Dimensions" type="Dimensions"/>
      <xsd:element name="Weight" type="Weight"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="PalletSizeType">
    <xsd:sequence>
      <xsd:element name="code" type="alpha25"/>
      <xsd:element name="description" type="alpha100"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="PerformanceRatingType">
    <xsd:sequence>
      <xsd:element name="code" type="alpha25"/>
      <xsd:element name="description" type="alpha100"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="ProductSegment">
    <xsd:sequence>
      <xsd:element name="code" type="alpha25"/>
      <xsd:element name="name" type="alpha255"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="ProductSegregationType">
    <xsd:sequence>
      <xsd:element name="code" type="alpha25"/>
      <xsd:element name="description" type="alpha100"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="ProductType">
    <xsd:sequence>
      <xsd:element name="code" type="alpha25"/>
      <xsd:element name="name" type="alpha255"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="PromotionOrderbookType">
    <xsd:sequence>
      <xsd:element name="code" type="alpha25"/>
      <xsd:element name="description" type="alpha100"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="QualityControlType">
    <xsd:sequence>
      <xsd:element name="code" type="alpha25"/>
      <xsd:element name="description" type="alpha100"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="Quantity">
    <xsd:sequence>
      <xsd:element name="amount" type="xsd:decimal"/>
      <xsd:element name="uom" type="alpha20"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="Reason">
    <xsd:sequence>
      <xsd:element name="code" type="alpha40"/>
      <xsd:element name="description" type="alpha80"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="ReplenishSubType">
    <xsd:sequence>
      <xsd:element name="code" type="alpha25"/>
      <xsd:element name="description" type="alpha100"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="ReplenishmentGroup">
    <xsd:sequence>
      <xsd:element name="number" type="xsd:unsignedInt"/>
      <xsd:element name="description" type="alpha255"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="ReserveMerchandiseType">
    <xsd:sequence>
      <xsd:element name="code" type="alpha25"/>
      <xsd:element name="description" type="alpha100"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="ResponseMessage">
    <xsd:sequence>
      <xsd:element name="code" type="alpha20"/>
      <xsd:element name="description" type="alpha512"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="Retail">
    <xsd:sequence>
      <xsd:element name="Amount" type="Amount"/>
      <xsd:element name="Type" type="RetailType"/>
      <xsd:element name="uom" type="alpha20"/>
      <xsd:element name="isVatInclusive" type="xsd:boolean"/>
      <xsd:element name="isNotifyStore" type="xsd:boolean"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="RetailType">
    <xsd:sequence>
      <xsd:element name="code" type="alpha10"/>
      <xsd:element name="description" type="alpha80"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="RoyaltyProgram">
    <xsd:sequence>
      <xsd:element name="code" type="alpha25"/>
      <xsd:element name="description" type="alpha100"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="SanitaryRegistration">
    <xsd:sequence>
      <xsd:element name="number" type="alpha25"/>
      <xsd:element name="expirationDate" type="xsd:date"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="Season">
    <xsd:sequence>
      <xsd:element name="id" type="xsd:unsignedLong"/>
      <xsd:element name="name" type="alpha100"/>
      <xsd:element name="number" type="xsd:unsignedShort"/>
      <xsd:element name="startDate" type="xsd:date"/>
      <xsd:element name="endDate" type="xsd:date"/>
      <xsd:element name="year" type="year"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="SmallPartsWarning">
    <xsd:sequence>
      <xsd:element name="code" type="alpha25"/>
      <xsd:element name="description" type="alpha100"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="Status">
    <xsd:sequence>
      <xsd:element name="code" type="alpha10"/>
      <xsd:element name="description" type="alpha80"/>
      <xsd:element name="changeDate" type="xsd:date"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="StoreFront">
    <xsd:sequence>
      <xsd:element name="number" type="xsd:unsignedLong"/>
      <xsd:element name="financialReportingGroupCode" type="alpha25"/>
      <xsd:element name="FulfillmentMethods" type="FulfillmentMethod" maxOccurs="unbounded"/>
      <xsd:element name="BaseRetail" type="Retail"/>
      <xsd:element name="CustomerRetail" type="Retail"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="Style">
    <xsd:sequence>
      <xsd:element name="id" type="alpha25"/>
      <xsd:element name="name" type="alpha100"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="Supplier">
    <xsd:sequence>
      <xsd:element name="supplierID" type="alpha30"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="SupplierAgreement">
    <xsd:sequence>
      <xsd:element name="supplier" type="Supplier"/>
      <xsd:element name="Department" type="Department"/>
      <xsd:element name="sequenceNumber" type="xsd:unsignedShort"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="SupplierCasePackType">
    <xsd:sequence>
      <xsd:element name="code" type="alpha25"/>
      <xsd:element name="description" type="alpha80"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="TemperatureRange">
    <xsd:sequence>
      <xsd:element name="high" type="xsd:decimal"/>
      <xsd:element name="low" type="xsd:decimal"/>
      <xsd:element name="uom" type="alpha25"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="TextList">
    <xsd:sequence>
      <xsd:element name="seqNumber" type="xsd:unsignedShort"/>
      <xsd:element name="TextValue" type="LocalizedText" maxOccurs="unbounded"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="TradeItemIngredient">
    <xsd:sequence>
      <xsd:element name="isAdditive" type="xsd:boolean"/>
      <xsd:element name="isBelowDailyAllowance" type="xsd:boolean"/>
      <xsd:element name="isHighInRecommendedNutrient" type="xsd:boolean"/>
      <xsd:element name="purpose" type="alpha255"/>
      <xsd:element name="Quantity" type="Quantity"/>
      <xsd:element name="Ingredient" type="Ingredient"/>
    </xsd:sequence>
  </xsd:complexType>
  
  <xsd:complexType name="TradeItemRelationship">
    <xsd:sequence>
      <xsd:element name="gtin" type="gtin"/>
      <xsd:element name="Quantity" type="Quantity"/>
    </xsd:sequence>
  </xsd:complexType>
  
  <xsd:complexType name="TradeItemType">
    <xsd:sequence>
      <xsd:element name="code" type="alpha25"/>
      <xsd:element name="description" type="alpha100"/>
    </xsd:sequence>
  </xsd:complexType>
  
  <xsd:complexType name="TrademarkLicense">
    <xsd:sequence>
      <xsd:element name="code" type="alpha25"/>
      <xsd:element name="description" type="alpha80"/>
    </xsd:sequence>
  </xsd:complexType>
  
  <xsd:complexType name="TraitGroup">
    <xsd:sequence>
      <xsd:element name="traitNumber" type="xsd:unsignedLong"/>
      <xsd:element name="seqNumber" type="xsd:unsignedShort"/>
      <xsd:element name="connectorCode" type="alpha10"/>
    </xsd:sequence>
  </xsd:complexType>
  
  <xsd:complexType name="Volume">
    <xsd:sequence>
      <xsd:element name="amount" type="xsd:decimal"/>
      <xsd:element name="uom" type="alpha20"/>
    </xsd:sequence>
  </xsd:complexType>
  
  <xsd:complexType name="WarehouseAlignment">
    <xsd:sequence>
      <xsd:element name="code" type="alpha10"/>
      <xsd:element name="description" type="alpha80"/>
    </xsd:sequence>
  </xsd:complexType>
  
  <xsd:complexType name="WarehouseArea">
    <xsd:sequence>
      <xsd:element name="code" type="alpha10"/>
      <xsd:element name="description" type="alpha80"/>
    </xsd:sequence>
  </xsd:complexType>
  
  <xsd:complexType name="WarehousePackCalcMethod">
    <xsd:sequence>
      <xsd:element name="code" type="alpha25"/>
      <xsd:element name="description" type="alpha100"/>
    </xsd:sequence>
  </xsd:complexType>
  
  <xsd:complexType name="WarehouseRotationType">
    <xsd:sequence>
      <xsd:element name="code" type="alpha25"/>
      <xsd:element name="description" type="alpha100"/>
    </xsd:sequence>
  </xsd:complexType>
  
  <xsd:complexType name="Weight">
    <xsd:sequence>
      <xsd:element name="amount" type="xsd:decimal"/>
      <xsd:element name="uom" type="alpha20"/>
    </xsd:sequence>
  </xsd:complexType>
  
  <xsd:complexType name="WeightFormatType">
    <xsd:sequence>
      <xsd:element name="code" type="alpha10"/>
      <xsd:element name="description" type="alpha80"/>
    </xsd:sequence>
  </xsd:complexType>

</xsd:schema>
