xsd/UnstructuredProduct.xsd

<?xml version="1.0" encoding="UTF-8"?>

<!--
  Schema for data exchanged between Walmart and its partners.
  Copyright 2015 Walmart Corporation. All rights reserved.
-->

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
  xmlns="http://walmart.com/"
  targetNamespace="http://walmart.com/"
  elementFormDefault="qualified"
  version="1.2">

  <xsd:include schemaLocation="mp/MPItemCommons.xsd" />
  <xsd:include schemaLocation="ItemCommons.xsd" />
  <xsd:include schemaLocation="Asset.xsd" />
  
  <xsd:complexType name="UnstructuredProduct">
    <xsd:sequence>
      <xsd:element name="sku" minOccurs="1">
        <xsd:annotation>
          <xsd:documentation>
            SKU assigned by seller/partner (replaces sellerOfferId)
            Walmart will include this value in all communications regarding item information,
            including order interfaces and reports
          </xsd:documentation>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="255"/>
            <xsd:minLength value="1"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="productTitle" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            The title of the product to be displayed on the product details page.
            Brand + Category + Defining Quality + Item Name + Pack Count if applicable.
            Example 1: George Girls' Short-Sleeve Polo
            Example 2: Hanes Men's V-Neck Tees, 3-Pack
          </xsd:documentation>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="1600"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="productShortDescription" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
              An overview of the key selling points of the item, marketing content, and highlights in paragraph form. 
              For SEO purposes, repeat the product name and relevant keywords here.            
          </xsd:documentation>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="4000"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="productLongDescription" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            The complete description that will be displayed on the item page. 
            Include the product’s key features, benefits, and item specifics in a bulleted list.
          </xsd:documentation>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="4000"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="productSearchDescription" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            Abbreviated list of key item features in no more than three bullet points. 
            This is viewable in search, category, and shelf pages. 
          </xsd:documentation>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="4000"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="productCategory" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            Select one product type from the list of Walmart product types.
          </xsd:documentation>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="500"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="productSubCategory" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            Select one product type from the list of Walmart product types.
          </xsd:documentation>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="500"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="productType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            Select one product type from the list of Walmart product types.
          </xsd:documentation>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="500"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="productTaxCode" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            product tax code
          </xsd:documentation>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="64" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="ProductIds" type="ProductIds" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
           product identifiers
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="features" minOccurs="0" maxOccurs="unbounded">
        <xsd:annotation>
          <xsd:documentation>
            List single line notable features of the product.
          </xsd:documentation>
        </xsd:annotation>
        <xsd:simpleType>
            <xsd:restriction base="xsd:string">
              <xsd:maxLength value="4000"/>
           </xsd:restriction>
         </xsd:simpleType>
      </xsd:element>
      <xsd:element name="assemblyCountryOfOrigin" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            Name of country where product was made.
            2 letter country code
          </xsd:documentation>
        </xsd:annotation>
        <xsd:simpleType>
            <xsd:restriction base="xsd:string">
              <xsd:maxLength value="2"/>
           </xsd:restriction>
         </xsd:simpleType>
      </xsd:element>
      <xsd:element name="componentsCountryOfOrigin" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            Name of country where components were sourced from
            has 3 possible values
          </xsd:documentation>
        </xsd:annotation>
        <xsd:simpleType>
            <xsd:restriction base="xsd:string">
              <xsd:maxLength value="50"/>
           </xsd:restriction>
         </xsd:simpleType>
      </xsd:element>
      <xsd:element name="assembledLength" type="Measurement" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="assembledWidth" type="Measurement" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="assembledHeight" type="Measurement" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="assembledWeight" type="Measurement" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="manufacturerName" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            Manufacturer name
          </xsd:documentation>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="400"/>
          </xsd:restriction>
         </xsd:simpleType>
      </xsd:element>
      <xsd:element name="manufacturerModelNumber" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            partNumber
          </xsd:documentation>
        </xsd:annotation>
        <xsd:simpleType>
            <xsd:restriction base="xsd:string">
              <xsd:maxLength value="100"/>
           </xsd:restriction>
         </xsd:simpleType>
      </xsd:element>
      <xsd:element name="manufacturerPartNumber" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            partNumber
          </xsd:documentation>
        </xsd:annotation>
        <xsd:simpleType>
            <xsd:restriction base="xsd:string">
              <xsd:maxLength value="36"/>
           </xsd:restriction>
         </xsd:simpleType>
      </xsd:element>
      <xsd:element name="msrp" type="Money" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            MSRP
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="isMultipack" type="xsd:boolean" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            MultiPack indicator
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="packageQuantity" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            Package quantity
            Required if isMultipack is true
          </xsd:documentation>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:integer">
            <xsd:totalDigits value="7"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="isAerosol" type="xsd:boolean" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="isChemical" type="xsd:boolean" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="isPesticide" type="xsd:boolean" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>      
      <xsd:element name="isHazmat" type="xsd:boolean" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="hasFuelContainer" type="xsd:boolean" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="isORMD" type="xsd:boolean" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="esrb" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
          </xsd:documentation>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="4000"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="mpaaRating" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
          </xsd:documentation>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="4000"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="hasFuelRestriction" type="xsd:boolean" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="isNonspillableBattery" type="xsd:boolean" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="isService" type="xsd:boolean" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="isGOTSCertified" type="xsd:boolean" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="containsMercury" type="xsd:boolean" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="isControlledSubstance" type="xsd:boolean" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="isMaternity" type="xsd:boolean" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="fabricCareInstructions" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
          </xsd:documentation>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="4000"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="fabricMaterial" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
          </xsd:documentation>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="4000"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="ewasteRecyclingWA" type="xsd:boolean" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ewasteRecyclingOR" type="xsd:boolean" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="chokingHazard" minOccurs="0" maxOccurs="unbounded">
        <xsd:annotation>
          <xsd:documentation>
          </xsd:documentation>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="200"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="hasBatteries" type="xsd:boolean" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="batteryTechnologyType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            Required if "Has Batteries = Y
            Sample values:
              Not Battery Powered
              Alkaline
              Carbon Zinc
              Lead Acid
              Lead Acid (Nonspillable)
              Lithium Primary
              Lithium-Ion
              Magnesium
              Mercury
              Nickel Cadmium
              Nickel Metal Hydride
              Silver
              Thermal
              Other
          </xsd:documentation>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="4000"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="numberOfBatteries" type="xsd:int" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            Required if hasBatteries is true
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="baseUnitOfMeasure" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            Gallon
            Pint
            Half Gallon
            Quart
            Centimeter
            Inch
            Yard
            Each
            Liter
            Per 100 Sheets
            Foot
            Ounce
            Gram
            Pound
            Half Pint
            Square Foot
            Cubic Foot
            Kilogram
            Per 100 Count
            Fluid Ounce
            Milliliter          
          </xsd:documentation>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="4000"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="totalUnits" type="xsd:double" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="isProp65WarningRequired" type="xsd:boolean" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            California's Proposition 65 entitles California consumers to special warnings for products
            that contain chemicals known to the state of California to cause cancer and birth defects or other reproductive harm.
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="containsPaperWood" type="xsd:boolean" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            Indicate ‘Y’ if any portion of this product, including reusable packaging, 
            is made from paper or wood.
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="compositeWoodCertifcationCode" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            Required if "Contains Paper/Wood = Y"
            If any portion of your item contains any of the following types of composite wood 
            (hardwood plywood veneer core, hardwood plywood composite core, particleboard, or medium density fiber board (MDF)), 
            you must contact the supplier and indicate the highest formaldehyde emission level on any portion of the product. 
            Possible Values: 
              1 - Does not contain composite wood
              2 - Product is compliant with pre-phase 1 emission levels. The product will be removed from sale in June 2010
              3 - Product is compliant with phase 1 emission levels. The product will be removed from sale in June 2011
              4 - Product is compliant with phase 2 emission levels
              5 - Product is compliant with NAF (no added formaldehyde) as certified by CARB
              6 - Product is compliant with ULEF (ultra low emitting formaldehyde) as certified by CARB          
          </xsd:documentation>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:enumeration value="1" />
            <xsd:enumeration value="2" />
            <xsd:enumeration value="3" />
            <xsd:enumeration value="4" />
            <xsd:enumeration value="5" />
            <xsd:enumeration value="6" />
           </xsd:restriction>
         </xsd:simpleType>
      </xsd:element>
      <xsd:element name="isCPSCRegulated" type="xsd:boolean" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            The product is likely to be regulated by the Consumer Product Safety Commission (CPSC) 
            if it is NOT found on this list http://www.cpsc.gov/businfo/notcpsc.html
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="isRigidPlasticPackaging" type="xsd:boolean" minOccurs="0" >
        <xsd:annotation>
          <xsd:documentation>
            Rigid Plastic Packaging Container Indicator
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="brand" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            Brand name of the item, necessary component for Search functionality
          </xsd:documentation>
          </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
             <xsd:maxLength value="4000"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="allergenInformation" minOccurs="0" maxOccurs="unbounded">
        <xsd:annotation>
          <xsd:documentation>
          </xsd:documentation>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
             <xsd:maxLength value="4000"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="awardsWon" minOccurs="0">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
             <xsd:maxLength value="4000"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="isBPAFree" type="xsd:boolean" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="containerMaterial" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            Related to packaging.
          </xsd:documentation>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
             <xsd:maxLength value="4000"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="containerType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            Related to packaging.
          </xsd:documentation>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
             <xsd:maxLength value="4000"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="dietaryNeed" minOccurs="0" maxOccurs="unbounded">
        <xsd:annotation>
          <xsd:documentation>
            Dietary restriction information, such as:
              Aspartame-Free
              Caffeine-Free
              Cholesterol-Free
              Dairy-Free
              Gluten-Free
              GMO-Free
              Grass Fed
              Halal
              Iodized
              Kosher
              Lactose-Free
              Low Carb
              Low Fat
              Low Glycemic
              Low Sodium
              Low Acid
              Nonfat
              Nut-Free
              Salt-Free
              Shade Grown
              Sodium-Free
              Soy-Free
              Sugar-Free
              Trans Fat-Free
              Vegan
              Vegetarian
              Wheat-Free
              Yeast-Free          
          </xsd:documentation>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
             <xsd:maxLength value="4000"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="directions" minOccurs="0">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
             <xsd:maxLength value="4000"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="isFairTrade" type="xsd:boolean" minOccurs="0">
      </xsd:element>
      <xsd:element name="flavor" minOccurs="0" maxOccurs="unbounded">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
             <xsd:maxLength value="4000"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="foodAndHealthSafetyCertifications" minOccurs="0" maxOccurs="unbounded">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
             <xsd:maxLength value="4000"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="foodCondition" minOccurs="0">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
             <xsd:maxLength value="4000"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="foodForm" minOccurs="0">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
             <xsd:maxLength value="4000"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="isGlutenFree" type="xsd:boolean" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="isGMOFree" type="xsd:boolean" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="isHalal" type="xsd:boolean" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="hasExpiration" type="xsd:boolean" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ingredients" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            Specify all ingredients listed on the package in order of appearance. 
          </xsd:documentation>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
             <xsd:maxLength value="4000"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="isPerishable" type="xsd:boolean" minOccurs="0">
      </xsd:element>
      <xsd:element name="servingSize" minOccurs="0">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
             <xsd:maxLength value="4000"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="servingsPerContainer" minOccurs="0">
        <xsd:simpleType>
          <xsd:restriction base="xsd:integer">
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="isKosher" type="xsd:boolean" minOccurs="0">
      </xsd:element>
      <xsd:element name="organicCertifications" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            Examples: USDA Organic; Oregon Tilth Certified Organic (OTCO); 
                      California Certified Organic Farmers (CCOF)
          </xsd:documentation>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
             <xsd:maxLength value="4000"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="percentageOfPostConsumerContent" minOccurs="0">
        <xsd:simpleType>
          <xsd:restriction base="xsd:decimal">
            <xsd:minInclusive value="0.0"/>
            <xsd:maxInclusive value="100.0"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="isReadyToEat" type="xsd:boolean" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="isTemperatureSensitive" type="xsd:boolean" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="usdaOrganicLabel" minOccurs="0">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="4000"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="isVegan" type="xsd:boolean" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="warnings" minOccurs="0" maxOccurs="unbounded">
        <xsd:annotation>
          <xsd:documentation>
            warnings
          </xsd:documentation>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="4000"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="isYeastFree" type="xsd:boolean" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="isCaffeineFree" type="xsd:boolean" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="coffeeRoast" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
          	Example Values: Light; Medium; Dark
          </xsd:documentation>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
             <xsd:maxLength value="4000"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="coffeeForm" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
          	Example Values: Ground Coffee; Whole Bean Coffee; Instant Coffee; Single-Serve Coffee
          </xsd:documentation>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
             <xsd:maxLength value="4000"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="isDecaffeinated" type="xsd:boolean" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="isShadeGrown" type="xsd:boolean" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="teaForm" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
          Such as Loose Leaf Tea; Tea Bags; Powder Tea
          </xsd:documentation>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
             <xsd:maxLength value="4000"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="chocolateType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            Examples: Dark Chocolate; Milk Chocolate; White Chocolate; Assorted Chocolate
          </xsd:documentation>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="4000"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="cocoaPercentage" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
          </xsd:documentation>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:decimal">
            <xsd:minInclusive value="0.0"/>
            <xsd:maxInclusive value="100.0"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="percentageOfNeutralSpirits" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            Required for all alcoholic beverages.
            Example: 20
          </xsd:documentation>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:decimal">
            <xsd:minInclusive value="0.0"/>
            <xsd:maxInclusive value="100.0"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="isNonalcoholic" type="xsd:boolean" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="beerStyle" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            Examples: Amber; Blonde; Brown; Cream; Dark; Fruit; Golden; Honey; India Pale Ale (IPA); Light; Pale Ale; Pilsner; Red; Strong; Wheat
          </xsd:documentation>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="4000"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="beerType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            Examples: Ale; Lagers; Porter; Stout
          </xsd:documentation>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="4000"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="alcoholContent" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            Percentage of alcohol by volume. Required for all alcoholic beverages.
            Example: 40% Alcohol by Volume
          </xsd:documentation>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="4000"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="isNongrape" type="xsd:boolean" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="wineVintage" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            Provide 4-digit year
            Example: 2002
          </xsd:documentation>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="4"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="wineAppellation" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
          </xsd:documentation>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="4000"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="wineRegion" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
          </xsd:documentation>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="4000"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="wineType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            Example: Red Wine, White Wine, etc.
          </xsd:documentation>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="4000"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="wineVarietal" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
          </xsd:documentation>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="4000"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="ageRestriction" type="xsd:int" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            Defines if the product has any age restrictions, such as liquor. 
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="productSetupType" default="STANDALONE" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
          Setup type
          </xsd:documentation>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:enumeration value="STANDALONE" />
            <xsd:enumeration value="PRIMARY" />
            <xsd:enumeration value="VARIANT" />
            <xsd:enumeration value="BUNDLE" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="variantGroupID" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            The variant group ID should be a unique identifier for a variant group chosen by the partner and should be the same for all variants of the same product.
            Partners must ensure uniqueness of their variant group IDs within their own domain.          
          </xsd:documentation>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
             <xsd:maxLength value="32"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="VariantMetaData" type="NameValueAttributes" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            variant meta data
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ProductAttributes" type="NameValueAttributes" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            Bag of Product Attributes 
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ComplianceAttributes" type="NameValueAttributes" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            Bag of Product Attributes 
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="MarketAttributes" type="NameValueAttributes" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            Bag of Product Attributes 
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Assets" type="ProductAsset" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            assets section
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>
